#header-box {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 3.5em;
    z-index: 3;
    position: fixed;
    top: 0;
}

.header-box-github-logo {
    position: absolute;
    width: 2em;
    left: 2em;
    top: 0.5em;
}

.header-box-linkedin-logo {
    position: absolute;
    width: 2em;
    left: 6em;
    top: 0.5em;
}

.header-box-medium-logo {
    position: absolute;
    width: 2em;
    left: 10em;
    top: 0.5em;
}

.header-box-title {
    position: absolute;
    left: 40vw;
    font-family: Palatino, "Palatino Linotype";
    font-size: 4em;
    color: #bbbfca;
}

.header-box-home-navlink {
    position: absolute;
    color: #dddddd;
    text-decoration: none;
    top: 1.2em;
    right: 22em;
}

.header-box-navlink-1 {
    position: absolute;
    color: #dddddd;
    right: 2em;
    top: 1.2em;
    text-decoration: none;
}

.navlink:hover {
    color: #ffd66b;
}






@media only screen and (max-width: 1330px) {
    .header-box-navlink-1 {
        display: none;
    }
    
    .header-box-home-navlink {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
   .header-box-title {
       font-size: 10vw;
   }
}
