#home-third-box {
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: pink; */
    /* background-color: #9ecca4; */
    background-color: #f1f6f9;
    padding-bottom: 5em;
    width: 74em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    height: auto;
}

.home-third-box-heading {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-size: 2em;
    margin-top: 2em;
}

.home-third-box-subheading {
    /* margin-left: 3em; */
    font-size: 1.4em;
    /* margin-top: 1.5em; */
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

#home-third-box-project-box {
    display: flex;
    flex-direction: row;
}

#home-third-box-project-box-first {
    display: flex;
    flex-direction: column;
    /* background-color: #ffd66b; */
    background-color: #ffe227;
    margin-left: 2em;
    margin-right: 2em;
    width: 66.66%;
}

#home-third-box-project-box-second {
    display: flex;
    flex-direction: column;
    /* background-color: #ffd66b; */
    background-color: #ffe227;
    margin-right: 2em;
    width: 33.33%;
}

#home-third-box-project-box-first-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.second-subheading {
    margin-top: 3em;
}

.home-third-box-project-box-first-box-first {
    /* background-color: #ffd369; */
    /* background-color: #ffd66b; */
    background-color: #ffe227;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 5px 20px 20px #888888;
}

.home-third-box-project-box-first-box-second {
    /* background-color: #ffd369; */
    /* background-color: #ffd66b; */
    background-color: #ffe227;
    margin-right: 2em;
    margin-left: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 5px 20px 20px #888888;
}

.home-third-box-project-box-second-box-first {
    /* background-color: #ffd369; */
    /* background-color: #ffd66b; */
    background-color: #ffe227;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 5px 20px 20px #888888;
}

.extra-content.last-element {
    margin-bottom: 2em;
}

.last-element {
    margin-bottom: 2em;
}

.third-box-last-element {
    margin-top: 2em;
    margin-bottom: 2em;
}

.github-box {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
    margin-left: 1em;
}

.github-txt {
    margin-top: auto;
    margin-bottom: auto;
    /* margin-right: 0.5em; */
    text-decoration: none;
    color: black;
}

.github-txt:hover {   
    color: #dddddd;
}

.home-third-box-github-logo {
    width: 2.5em;
    margin-right: 1em;
}

.extra-content {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    text-decoration: none;
    margin-bottom: 1em;
    color: black;
}

.extra-content:hover {
    color: #dddddd;
}

.home-third-box-content-box-subheading {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-size: 1.5em;
    margin-top: 1em;
}

.first-box-demonstrations-box {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.second-box-demonstrations-box {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
}

.demonstration-box-heading {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-weight: bold;
}

.demonstration-point {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.tick {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
}

.examples-1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 0;
}

.example-2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    margin-bottom: 0;
}





@media only screen and (max-width: 1190px) {
    #home-third-box {
        width: 100vw;
    }
}