.home-carousel {
    position: absolute;
    width: 40em;
    /* margin-left: 15em;
    margin-top: 5em; */
    /* display: inline-block; */
    margin-left: 2em;
    top: 3em;
}

.home-carousel-slides {
    width: 100%;
}