#home-top-box {
    width: 74em;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #9ecca4;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    top: 3.8em;
}

.home-top-box-right-box {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1em;
}

.home-top-box-heading {
    font-size: 1.2em;
}

.home-top-box-txt {
    top: 7em;
    line-height: 2;
    font-size: 1.2em;
    margin-top: 2em;
}


@media only screen and (max-width: 1040px) {
    .home-top-box-txt {
        font-size: 1.8vw;
    }
}


@media only screen and (max-width: 1190px) {
    #home-top-box {
        width: 100vw;
    }
}
