#home-top-box {
    width: 70vw;
    position: relative;
    /* background-color: purple; */
    background-color: #9ecca4;
    padding-bottom: 10em;
    left: 15vw;
    height: auto;
    top: 3.8em;
}

.home-top-box-heading {
    position: absolute;
    top: 3em;
    margin-left: 36em;
    font-size: 1.2em;
}

.home-top-box-txt {
    position: absolute;
    /* top: 15em; */
    /* right: 10em; */
    /* display: inline-block; */
    /* margin-left: 50em;
    margin-top: 20em; */
    top: 7em;
    margin-left: 36em;
    width: 25em;
    line-height: 2;  /* Recommended value is 1.6 */
    font-size: 1.2em;
}