#home-top-box {
    width: 100vw;
    position: relative;
    background-color: purple;
    padding-bottom: 10em;
}

.home-top-box-txt {
    position: absolute;
    /* top: 15em; */
    /* right: 10em; */
    /* display: inline-block; */
    /* margin-left: 50em;
    margin-top: 20em; */
    top: 5em;
    margin-left: 50em;
    width: 25em;
    line-height: 2;  /* Recommended value is 1.6 */
    font-size: 1.2em;
}